<div class="container">
  <div class="upload-container shadow-z-1">
    <%= form_tag imports_save_path, multipart: true do %>
        <%= label_tag :file, t(:upload_file) %>
        <%= file_field_tag :file %>
        <%= submit_tag t(:import) %>
    <% end %>
  </div>
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-striped table-mc-light-blue">
      <thead>
      <tr>
        <th><%= Import.human_attribute_name(:buyer).titleize %></th>
        <th><%= Import.human_attribute_name(:description).titleize %> </th>
        <th><%= Import.human_attribute_name(:price).titleize %> </th>
        <th><%= Import.human_attribute_name(:quantity).titleize %> </th>
        <th><%= Import.human_attribute_name(:address).titleize %> </th>
        <th><%= Import.human_attribute_name(:supplier_id).titleize %> </th>
      </tr>
      </thead>
      <tbody>
      <% @imports.each do |import| %>
          <tr>
            <td><%= import.buyer.name if import.buyer %></td>
            <td><%= import.description %></td>
            <td><%= number_to_currency(import.price) %></td>
            <td><%= import.quantity %></td>
            <td><%= import.address %></td>
            <td><%= import.supplier.name if import.supplier %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <th colspan="2">Total:</th>
      <th><%= number_to_currency(@imports.sum(:price)) %></th>
      <th><%= @imports.sum(:quantity) %></th>
      </tfoot>
    </table>
  </div>
</div>